.background-color{
    background-color: red;
    color: #fff;
}

.background-color-blue{
    background-color: blue;
}

.pd-left{
    padding-left: 40%;
}
.txt-decor{
    line-height: 5;
    font-size: xx-large;
    text-align: center;
    color: #fff;
}